[submodule "STM32-DashBoard"]
	path = STM32-DashBoard
	url = https://github.com/aditya-146/STM32-DashBoard.git
[submodule "RPI-DashBoard"]
	path = RPI-DashBoard
	url = https://github.com/aditya-146/RPI-DashBoard.git
